@using Tugce.DataContext

@{

    if (string.IsNullOrEmpty(User.Identity.Name))
    {
        <li>
            <a href="/Admin/Account/Login">Oturum Aç</a>
        </li>
    }
    else
    {
        var entities = new TugceContext();
        var user = entities.Logins.SingleOrDefault(u=>u.UserName== User.Identity.Name);
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <img alt="@user.UserName" style="width:35px"
                     src="~/Areas/Admin/Content/userimages/@user.UserImage">
                <span class="username">@user.Name @user.Surname</span>
            </a>
            <ul class="dropdown-menu extended logout">
                <li style="width:100%"><a href="/Admin/Account/UpdateProfile"><i class=" icon-suitcase"></i>Bilgilerim</a></li>
                <li><a href="/Admin/Account/Logout"><i class="icon-key"></i>Güvenli Çıkış</a></li>
            </ul>
        </li>
    }

}





